.skill-badges-container {
    .skills-title {
        background: linear-gradient(45deg, black 30%, transparent 60%);
        animation-duration: 0.25s;
    }
    .skill-badges {
        animation-duration: 0.25s;
    }
}
