.card-container {
    &:hover {
        .view-project {
            display: inline;
        }
        .image-bg {
            opacity: 1;
        }
        .project-title {
            color: #fff;
        }
    }
    .card-thumbnail {        
        width: 190px;
        height: 180px;
    }
    .project-title {
        color: rgba(255,255,255,0.7);
    }
    .image-bg,.text-bg {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.8;
        transition-duration: 0.25s;
        border-radius: 30px;
    }
    .reckon-bg {
        // background-image: url('/src/assets/img/project-icons/reckon.png');
        background-image: url('../../../assets/img/project-icons/reckon.png');
    }
    .aChat {
        background-color: #3DDC84;
        // background-image: url('/src/assets/img/project-icons/message.svg');
        background-image: url('../../../assets/img/project-icons/message.svg');
    }
    .data {
        background-color: #d9f9fa;
        // background-image: url('/src/assets/img/project-icons/data.svg');
        background-image: url('../../../assets/img/project-icons/data.svg');

    }
    .mastodon {
        background-color: #d9f9fa;
        // background-image: url('/src/assets/img/project-icons/joinmastodon-tile.svg');
        background-image: url('../../../assets/img/project-icons/joinmastodon-tile.svg');

    }
    .view-project {
        width: 64px;
        height: 64px; 
        top: 28%;
        left: 33%;
        backdrop-filter: blur(10px);
        font-size: 12px;
        display: none;
        // background: linear-gradient(45deg, grey, transparent)
    }
}