.section-title {
    @extend .rounded,.w3-animate-right !optional;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: linear-gradient(45deg, black 30%, transparent 60%);
    animation-duration: 0.25s;
    color: rgba(255,255,255,0.6)
}