@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


.badge {
	position: relative;
	margin: 1.5em 3em;
	width: 6em;
	height: 9.4em;
	border-radius: 10px;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}
	&:before {
		transform: rotate(60deg);
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:hover {
		top: -4px;
	}
	.circle {
		width: 60px;
		height: 60px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;
		i.fa {
			font-size: 2.8em;
			margin-top: 8px;
		}
	}
	.font {
		display: inline-block;
		margin-top: 1em;
	}
	.ribbon {
		position: absolute;
		border-radius: 4px;
		padding: 5px 5px 4px;
		width: 8em;
		z-index: 11;
		color: #fff;
		bottom: 12px;
		left: 50%;
		margin-left: -55px;
		height: 1.6em;
		font-size: 14px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
		cursor: default;
	}
}

.yellow {
	background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
	color: #ffb300;
}

.purple {
	background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
	color: #7127a8;
}

.blue {
    background: linear-gradient(to bottom right, #4FC3F7 0%, #2196F3 100%);
color: #259af3;
}

.blue-dark {
    background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%);
    color: #1c68c5;
    .ribbon {
        width: 10em;
        left: 30%;
    }
}

.green-dark {
    background: linear-gradient(to bottom right, #4CAF50 0%, #1B5E20 100%);
color: #00944a;
}