@import "../../styles/variables";
.nav-container {
    background: radial-gradient(ellipse at top, #401a25, 20%, transparent 60%);
    height: $nav-height;
    z-index: 20;
    top: 0px;
    backdrop-filter: blur(5px);
}
