@import "styles/base";
.intro-section {
  .my-animation {
    animation-name: popUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count:1;
    display: inline-block;
  }
}
.profile-pic {
  background-image: url('./assets/img/revanth-photo.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: popUp2;
  animation-duration: 0s;
  animation-fill-mode: both;
  animation-iteration-count:1;
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
  }
}
@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    }
}
.skills-section {
  // background: linear-gradient(150deg, rgba(54, 0, 22, 0.2) 20%, transparent 100%);

}

.scroll-btn {
  height:40px;
}
.btn-scroll {
  animation: scrollBtnBounce;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: rgba(255,255,255,0.5);
  font-size: 1.7em;
  &:hover {
    color: white;
  }
  &:active {
    border: none;
  }
}
.nav-container+div {
  overflow-x: hidden !important;
}
.nav-container-desktop+div {
  padding: 30px;
  padding-top: $nav-height-desktop;
}
.nav-container-mobile+div {
  // any container level styling for mobile devices goes here
}
@keyframes scrollBtnBounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

.rounded-box {
  border-radius: 30px;
  background: linear-gradient(45deg, transparentize(black, 0.5), transparent);
  backdrop-filter: blur(5px);
  &:hover {
    backdrop-filter: blur(7px);
    transition: 0.25s;
  }
}

.dark-rounded-box {
  backdrop-filter: brightness(0.7);
  border-radius: 30px;
  &:hover {
    backdrop-filter: brightness(0.5);
    transition: 0.75s;
  }
}

.primary-text {
  color: $dark-pink;
}
